aiohttp==3.9.5 ; python_version >= "3.8" and python_full_version <= "3.11.6"
aiosignal==1.3.1 ; python_version >= "3.8" and python_full_version <= "3.11.6"
async-timeout==4.0.3 ; python_version >= "3.8" and python_version < "3.11"
attrs==24.2.0 ; python_version >= "3.8" and python_full_version <= "3.11.6"
azure-ai-language-conversations==1.1.0 ; python_version >= "3.8" and python_full_version <= "3.11.6"
azure-core==1.31.0 ; python_version >= "3.8" and python_full_version <= "3.11.6"
bidict==0.22.1 ; python_version >= "3.8" and python_full_version <= "3.11.6"
boto3==1.35.35 ; python_version >= "3.8" and python_full_version <= "3.11.6"
botocore==1.35.35 ; python_version >= "3.8" and python_full_version <= "3.11.6"
certifi==2024.8.30 ; python_version >= "3.8" and python_full_version <= "3.11.6"
charset-normalizer==3.3.2 ; python_version >= "3.8" and python_full_version <= "3.11.6"
colorama==0.4.6 ; python_version >= "3.8" and python_full_version <= "3.11.6" and sys_platform == "win32"
dataclasses-json==0.6.4 ; python_version >= "3.8" and python_full_version <= "3.11.6"
dataclasses==0.6 ; python_version >= "3.8" and python_full_version <= "3.11.6"
exceptiongroup==1.2.2 ; python_version >= "3.8" and python_version < "3.11"
frozenlist==1.4.1 ; python_version >= "3.8" and python_full_version <= "3.11.6"
grpcio==1.66.2 ; python_version >= "3.8" and python_full_version <= "3.11.6"
humanfirst==1.1.4 ; python_version >= "3.8" and python_full_version <= "3.11.6"
idna==3.10 ; python_version >= "3.8" and python_full_version <= "3.11.6"
iniconfig==2.0.0 ; python_version >= "3.8" and python_full_version <= "3.11.6"
isodate==0.7.0 ; python_version >= "3.8" and python_full_version <= "3.11.6"
jmespath==1.0.1 ; python_version >= "3.8" and python_full_version <= "3.11.6"
marshmallow==3.22.0 ; python_version >= "3.8" and python_full_version <= "3.11.6"
multidict==6.1.0 ; python_version >= "3.8" and python_full_version <= "3.11.6"
mypy-extensions==1.0.0 ; python_version >= "3.8" and python_full_version <= "3.11.6"
numpy==1.24.4 ; python_full_version <= "3.11.6" and python_version >= "3.8"
packaging==24.1 ; python_version >= "3.8" and python_full_version <= "3.11.6"
pandas==2.0.3 ; python_version >= "3.8" and python_full_version <= "3.11.6"
pluggy==1.5.0 ; python_version >= "3.8" and python_full_version <= "3.11.6"
propcache==0.2.0 ; python_version >= "3.8" and python_full_version <= "3.11.6"
pytest==8.3.3 ; python_version >= "3.8" and python_full_version <= "3.11.6"
python-dateutil==2.9.0.post0 ; python_version >= "3.8" and python_full_version <= "3.11.6"
python-dotenv==1.0.1 ; python_version >= "3.8" and python_full_version <= "3.11.6"
pytz==2024.2 ; python_version >= "3.8" and python_full_version <= "3.11.6"
requests-toolbelt==1.0.0 ; python_version >= "3.8" and python_full_version <= "3.11.6"
requests==2.32.3 ; python_version >= "3.8" and python_full_version <= "3.11.6"
s3transfer==0.10.2 ; python_version >= "3.8" and python_full_version <= "3.11.6"
six==1.16.0 ; python_version >= "3.8" and python_full_version <= "3.11.6"
tomli==2.0.2 ; python_version >= "3.8" and python_version < "3.11"
typing-extensions==4.12.2 ; python_version >= "3.8" and python_full_version <= "3.11.6"
typing-inspect==0.9.0 ; python_version >= "3.8" and python_full_version <= "3.11.6"
tzdata==2024.2 ; python_version >= "3.8" and python_full_version <= "3.11.6"
urllib3==1.26.20 ; python_full_version <= "3.11.6" and python_version >= "3.8"
yarl==1.14.0 ; python_version >= "3.8" and python_full_version <= "3.11.6"
